.pokemon {
    flex-basis: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 300px;
    margin-top: 2rem;
    border: 1px solid black;
    border-radius: 10px;
    max-width: 500px;
    background-color: bisque;
    transition: background-color 0.3s ease;
}
.pokemon-image {
    min-height: 200px;
    max-height: 50%;
}

.pokemon-name {
    letter-spacing: 5px;
    font-size: larger;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-weight: bold;
}
.pokemon:hover {
    background-color: burlywood;
}
